# Abrindo CSV

In [271]:
with open('actors.csv', 'r') as file:
    for line in file:
        fields = line.strip().split(',')
        actor = fields[0]
        totalGross = fields[1]
        numberOfMovies = fields[2]
        averagePerMovie = fields[3]
        firstMovie = fields[4]
        gross = fields[5]

        print(actor, totalGross, numberOfMovies, averagePerMovie, firstMovie, gross)

Actor Total Gross Number of Movies Average per Movie #1 Movie Gross
Harrison Ford 4871.70  41 118.80  Star Wars: The Force Awakens 936.70
Samuel L. Jackson 4772.80  69 69.20  The Avengers 623.40
Morgan Freeman 4468.30  61 73.30  The Dark Knight 534.90
Tom Hanks 4340.80  44 98.70  Toy Story 3 415.00
"Robert Downey  Jr." 3947.30  53 74.50  The Avengers
Eddie Murphy 3810.40  38 100.30  Shrek 2 441.20
Tom Cruise 3587.20  36 99.60  War of the Worlds 234.30
Johnny Depp 3368.60  45 74.90  Dead Man's Chest 423.30
Michael Caine 3351.50  58 57.80  The Dark Knight 534.90
Scarlett Johansson 3341.20  37 90.30  The Avengers 623.40
Gary Oldman 3294.00  38 86.70  The Dark Knight 534.90
Robin Williams 3279.30  49 66.90  Night at the Museum 250.90
Bruce Willis 3189.40  60 53.20  Sixth Sense 293.50
Stellan Skarsgard 3175.00  43 73.80  The Avengers 623.40
Anthony Daniels 3162.90  7 451.80  Star Wars: The Force Awakens 936.70
Ian McKellen 3150.40  31 101.60  Return of the King 377.80
Will Smith 3149.10  24 131.20  Independence Day 306.20
Stanley Tucci 3123.90  50 62.50  Catching Fire 424.70
Matt Damon 3107.30  39 79.70  The Martian 228.40
Robert DeNiro 3081.30  79 39.00  Meet the Fockers 279.30
Cameron Diaz 3031.70  34 89.20  Shrek 2 441.20
Liam Neeson 2942.70  63 46.70  The Phantom Menace 474.50
Andy Serkis 2890.60  23 125.70  Star Wars: The Force Awakens 936.70
Don Cheadle 2885.40  34 84.90  Avengers: Age of Ultron 459.00
Ben Stiller 2827.00  37 76.40  Meet the Fockers 279.30
Helena Bonham Carter 2822.00  36 78.40  Harry Potter / Deathly Hallows (P2) 381.00
Orlando Bloom 2815.80  17 165.60  Dead Man's Chest 423.30
Woody Harrelson 2815.80  50 56.30  Catching Fire 424.70
Cate Blanchett 2802.60  39 71.90  Return of the King 377.80
Julia Roberts 2735.30  42 65.10  Ocean's Eleven 183.40
Elizabeth Banks 2726.30  35 77.90  Catching Fire 424.70
Ralph Fiennes 2715.30  36 75.40  Harry Potter / Deathly Hallows (P2) 381.00
Emma Watson 2681.90  17 157.80  Harry Potter / Deathly Hallows (P2) 381.00
Tommy Lee Jones 2681.30  46 58.30  Men in Black 250.70
Brad Pitt 2680.90  40 67.00  World War Z 202.40
Adam Sandler 2661.00  32 83.20  Hotel Transylvania 2 169.70
Daniel Radcliffe 2634.40  17 155.00  Harry Potter / Deathly Hallows (P2) 381.00
Jonah Hill 2605.10  29 89.80  The LEGO Movie 257.80
Owen Wilson 2602.30  39 66.70  Night at the Museum 250.90
Idris Elba 2580.60  26 99.30  Avengers: Age of Ultron 459.00
Bradley Cooper 2557.70  25 102.30  American Sniper 350.10
Mark Wahlberg 2549.80  36 70.80  Transformers 4 245.40
Jim Carrey 2545.20  27 94.30  The Grinch 260.00
Dustin Hoffman 2522.10  43 58.70  Meet the Fockers 279.30
Leonardo DiCaprio 2518.30  25 100.70  Titanic 658.70
Jeremy Renner 2500.30  21 119.10  The Avengers 623.40
Philip Seymour Hoffman 2463.70  40 61.60  Catching Fire 424.70
Sandra Bullock 2462.60  35 70.40  Minions 336.00
Chris Evans 2457.80  23 106.90  The Avengers 623.40
Anne Hathaway 2416.50  25 96.70  The Dark Knight Rises 448.10

# Apresente o ator/atriz com maior número de filmes e a respectiva quantidade.

In [228]:
# Criando dicionário para consultar nome dos atores e quantidade de filmes feitos
actors_dict = {}

with open('actors.csv', 'r') as file:
    # Ignorando a primeira linha com o next
    next(file)
    for line in file:
        fields = line.strip().split(',')
        actor = fields[0]
        # Convertendo o número de filmes de string pra float pra conseguir fazer a condicional
        numberOfMovies = float(fields[2])
        # Removendo número de filmes que for maior que 500 pra excluir "Robert Downey" da lista pois já foi verificado que ele não possui o maior número de filmes e a vírgula do nome dele tá dando conflito.
        if numberOfMovies < 500:
            actors_dict[actor] = numberOfMovies



ator_com_mais_filmes = max(actors_dict, key=actors_dict.get)
qtd_filmes = actors_dict[ator_com_mais_filmes]

print(ator_com_mais_filmes, qtd_filmes)

Robert DeNiro 79.0

# Apresente a  média de faturamento bruto por ator.

In [272]:


# Criando dicionário para consultar nome dos atores e faturamento bruto
actors_faturamento = {}


with open('actors.csv', 'r') as file:
    # Ignorando a primeira linha com o next
    next(file)
    for line in file:
        fields = line.strip().split(',')
        # ator
        actor = fields[0]
        # faturamento bruto e filtrando para aparecer apenas números
        faturamento = fields[1]
        actors_faturamento[actor] = faturamento
        
       
print(actors_faturamento)

{'Harrison Ford': '4871.70 ', 'Samuel L. Jackson': '4772.80 ', 'Morgan Freeman': '4468.30 ', 'Tom Hanks': '4340.80 ', '"Robert Downey': ' Jr."', 'Eddie Murphy': '3810.40 ', 'Tom Cruise': '3587.20 ', 'Johnny Depp': '3368.60 ', 'Michael Caine': '3351.50 ', 'Scarlett Johansson': '3341.20 ', 'Gary Oldman': '3294.00 ', 'Robin Williams': '3279.30 ', 'Bruce Willis': '3189.40 ', 'Stellan Skarsgard': '3175.00 ', 'Anthony Daniels': '3162.90 ', 'Ian McKellen': '3150.40 ', 'Will Smith': '3149.10 ', 'Stanley Tucci': '3123.90 ', 'Matt Damon': '3107.30 ', 'Robert DeNiro': '3081.30 ', 'Cameron Diaz': '3031.70 ', 'Liam Neeson': '2942.70 ', 'Andy Serkis': '2890.60 ', 'Don Cheadle': '2885.40 ', 'Ben Stiller': '2827.00 ', 'Helena Bonham Carter': '2822.00 ', 'Orlando Bloom': '2815.80 ', 'Woody Harrelson': '2815.80 ', 'Cate Blanchett': '2802.60 ', 'Julia Roberts': '2735.30 ', 'Elizabeth Banks': '2726.30 ', 'Ralph Fiennes': '2715.30 ', 'Emma Watson': '2681.90 ', 'Tommy Lee Jones': '2681.30 ', 'Brad Pitt': '2680.90 ', 'Adam Sandler': '2661.00 ', 'Daniel Radcliffe': '2634.40 ', 'Jonah Hill': '2605.10 ', 'Owen Wilson': '2602.30 ', 'Idris Elba': '2580.60 ', 'Bradley Cooper': '2557.70 ', 'Mark Wahlberg': '2549.80 ', 'Jim Carrey': '2545.20 ', 'Dustin Hoffman': '2522.10 ', 'Leonardo DiCaprio': '2518.30 ', 'Jeremy Renner': '2500.30 ', 'Philip Seymour Hoffman': '2463.70 ', 'Sandra Bullock': '2462.60 ', 'Chris Evans': '2457.80 ', 'Anne Hathaway': '2416.50 '}